.text1 {
  margin-top: 10rem;
  font-size: x-large;
  width: 48%;
  float: left;
  margin-left: 1rem;
}

.img2 {
  float: right;
  margin-top: 30px;
  width: 50%;

  margin-right: 20%;
}

.img22 {
  width: 50%;
  font-size: 100rem;
  margin-left: 10rem;
}

.button1 {
  margin-top: 8%;
  background-color: #a72828;
  width: 150px;
  padding: 13px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  border: 2px solid #a72828;
  color: #a72828;
  font-size: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: aliceblue;
}

.pro {
  clear: both;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  padding-top: 10px;
}

/* * {
  outline: 1px solid red;
} */

/* nav {
  background-color: rgb(28, 28, 72);
  position: fixed;
  display: flex;
  width: 100%;
  padding: 20px;
}
li {
  display: inline-block;
  margin-left: 30px;
  margin-top: 10px;
  justify-content: center;
}
ul {
  list-style: none;
} */

nav .logo {
  /* font-size: 25px;
  font-weight: 800px;
  color: #ffff;
  cursor: pointer;
  padding: 10px; */
  margin-left: 20px;
  float: left;
  width: 30%;
  font-size: 30px;
  font-weight: bolder;
  margin-top: 10px;
  color: rgb(255, 255, 255);
}

.b1 {
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: #a72828;
  width: 120px;
  padding: 7px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: 500;
  border: 2px solid #a72828;
  color: #a72828;
  font-size: 15px;
  transition: all 0.5s ease;
  cursor: pointer;
  color: aliceblue;
  margin-left: 20rem;
}

.in {
  padding: 10px;
  width: 200%;
  margin-right: 20px;
  border-radius: 25px;
}
